/*html {background-color: red}*/
html {background-color: black;}
body {background-color: black;}
body {color: #7d8618;}
h1 {
  font-size: 7vw;
  padding-top: 0vw;
  padding-right: 0.2vw;
  padding-bottom: 0vw;
  padding-left: 0.2vw;
}

p {
  font-size: 5.5vw;
  padding-top: 0vw;
  padding-right: 0.2vw;
  padding-bottom: 0vw;
  padding-left: 0.2vw;
}
.notes {
font-size: 4vw;
text-align: right;
  padding-top: 0vw;
  padding-right: 0.2vw;
  padding-bottom: 0vw;
  padding-left: 0.2vw;
}

div {
width: auto;
height: auto;
text-align: center;
padding: 0vw 2.5vw;
}

.pride {
	font-size: 6vw;
	text-align: center;
}
.blink {
  animation: blinker 0.7s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
